altgraph==0.17.4
inputs==0.5
markdown-it-py==3.0.0
mdurl==0.1.2
mss==10.0.0
packaging==25.0
pefile==2023.2.7
pillow==11.3.0
PyGetWindow==0.0.9
Pygments==2.19.2
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.5
Pymem==1.14.0
PyRect==0.2.0
pywin32==310
pywin32-ctypes==0.2.3
rich==14.0.0
setuptools==80.9.0
